html,body{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover !important;
}

.wrapper{
    height: 100%;
    width: 100%;
    background-color: rgba(64, 64, 64, 0.6);
}

.site-closed{
    color: #f0f0f0;
    background: none;
}
.site-closed .uk-panel-title{
    color: #f0f0f0;
}

.center-btn,
.login-btn,
.register-btn{
    background: transparent;
    border: 1px solid #f5f5f5;
    text-shadow: none;
    color: #f5f5f5;
}

.uk-overlay-icon:before{
    content: "\f040";
    cursor: pointer;
}

/* avatar */
.uk-form-file{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}
.uk-button-file{
    -webkit-appearance: none;
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: #666;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 12px;
    background: #f7f7f7;
    vertical-align: middle;
    line-height: 28px;
    min-height: 30px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0,0,0,.2);
    border-bottom-color: rgba(0,0,0,.3);
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top,#fff,#eee);
    background-image: linear-gradient(to bottom,#fff,#eee);
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
}
.uk-form-file input[type=file]{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    left: 0;
    font-size: 500px;
}

.avatar-view {
    display: block;
    margin: 15% auto 5%;
    height: 220px;
    width: 220px;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    cursor: pointer;
    overflow: hidden;
}
.avatar-view img {
    width: 100%;
}
.avatar-body {
    padding-right: 15px;
    padding-left: 15px;
}
.avatar-upload {
    overflow: hidden;
}
.avatar-upload label {
    display: block;
    float: left;
    clear: left;
    width: 100px;
}
.avatar-upload input {
    display: block;
}
.avatar-alert {
    margin-top: 10px;
    margin-bottom: 10px;
}
.avatar-wrapper {
    height: 370px;
    width: 100%;
    margin-top: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
    overflow: hidden;
}
.avatar-wrapper img {
    display: block;
    height: auto;
    max-width: 100%;
}
.avatar-preview {
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}
.avatar-preview:hover {
    border-color: #ccf;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
}
.avatar-preview img {
    width: 100%;
}
.preview-lg {
    height: 184px;
    width: 184px;
    margin-top: 15px;
}
.preview-md {
    height: 100px;
    width: 100px;
}
.preview-sm {
    height: 50px;
    width: 50px;
}
@media (min-width: 992px) {
    .avatar-preview {
        float: none;
    }
}
.avatar-btns {
    margin-top: 30px;
    margin-bottom: 15px;
}
.avatar-btns .btn-group {
    margin-right: 5px;
}
.loading {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff url("../img/loading.gif") no-repeat center center;
    opacity: .75;
    filter: alpha(opacity=75);
    z-index: 20140628;
}

.ss-footer{
    padding: 50px 0;
    background-color: #9A649A;
}
.ss-footer, .ss-footer a{
    color: #ddd !important;
}
@media (min-width: 768px){
    .ss-footer{
        padding: 70px 0;
    }
    .scroll-toolbar{
        bottom: 10px;
    }
}
@media (min-width: 1220px){
    .ss-footer{
        padding: 100px 0;
    }
}

/* text helpers */
.text-blue-depth-0{
    color: #00A8E6;
}
.text-blue-depth-1{
    color: #39F;
}
.text-blue-depth-2{
    color: #07D;
}
.text-blue-depth-3{
    color: #059;
}
.text-blue-depth-4{
    color: #2D7091;
}

/* Padding helpers */
.padding {
    padding: 1.6rem;
}
.padding-0 {
    padding: 0!important;
}
.padding-xs {
    padding: 0.5rem;
}
.padding-sm {
    padding: 1rem;
}
.padding-lg {
    padding: 2.4rem;
}
.padding-xl {
    padding: 3.2rem;
}
.padding-horizontal {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}
.padding-horizontal-0 {
    padding-left: 0!important;
    padding-right: 0!important;
}
.padding-horizontal-xs {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.padding-horizontal-sm {
    padding-left: 1rem;
    padding-right: 1rem;
}
.padding-horizontal-lg {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}
.padding-horizontal-xl {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}
.padding-vertical {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}
.padding-vertical-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.padding-vertical-xs {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.padding-vertical-sm {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.padding-vertical-lg {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}
.padding-vertical-xl {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}
.padding-top {
    padding-top: 1.6rem;
}
.padding-top-0 {
    padding-top: 0!important;
}
.padding-top-xs {
    padding-top: 0.5rem;
}
.padding-top-sm {
    padding-top: 1rem;
}
.padding-top-lg {
    padding-top: 2.4rem;
}
.padding-top-xl {
    padding-top: 3.2rem;
}
.padding-bottom {
    padding-bottom: 1.6rem;
}
.padding-bottom-0 {
    padding-bottom: 0!important;
}
.padding-bottom-xs {
    padding-bottom: 0.5rem;
}
.padding-bottom-sm {
    padding-bottom: 1rem;
}
.padding-bottom-lg {
    padding-bottom: 2.4rem;
}
.padding-bottom-xl {
    padding-bottom: 3.2rem;
}
.padding-left {
    padding-left: 1.6rem;
}
.padding-left-0 {
    padding-left: 0!important;
}
.padding-left-xs {
    padding-left: 0.5rem;
}
.padding-left-sm {
    padding-left: 1rem;
}
.padding-left-lg {
    padding-left: 2.4rem;
}
.padding-left-xl {
    padding-left: 3.2rem;
}
.padding-right {
    padding-right: 1.6rem;
}
.padding-right-0 {
    padding-right: 0!important;
}
.padding-right-xs {
    padding-right: 0.5rem;
}
.padding-right-sm {
    padding-right: 1rem;
}
.padding-right-lg {
    padding-right: 2.4rem;
}
.padding-right-xl {
    padding-right: 3.2rem;
}
/* Margin helpers */
.margin {
    margin: 1.6rem;
}
.margin-0 {
    margin: 0!important;
}
.margin-xs {
    margin: 0.5rem;
}
.margin-sm {
    margin: 1rem;
}
.margin-lg {
    margin: 2.4rem;
}
.margin-xl {
    margin: 3.2rem;
}
.margin-horizontal {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}
.margin-horizontal-0 {
    margin-left: 0!important;
    margin-right: 0!important;
}
.margin-horizontal-xs {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.margin-horizontal-sm {
    margin-left: 1rem;
    margin-right: 1rem;
}
.margin-horizontal-lg {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}
.margin-horizontal-xl {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
}
.margin-vertical {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}
.margin-vertical-0 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.margin-vertical-xs {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.margin-vertical-sm {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.margin-vertical-lg {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}
.margin-vertical-xl {
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}
.margin-top {
    margin-top: 1.6rem;
}
.margin-top-0 {
    margin-top: 0!important;
}
.margin-top-xs {
    margin-top: 0.5rem;
}
.margin-top-sm {
    margin-top: 1rem;
}
.margin-top-lg {
    margin-top: 2.4rem;
}
.margin-top-xl {
    margin-top: 3.2rem;
}
.margin-bottom {
    margin-bottom: 1.6rem;
}
.margin-bottom-0 {
    margin-bottom: 0!important;
}
.margin-bottom-xs {
    margin-bottom: 0.5rem;
}
.margin-bottom-sm {
    margin-bottom: 1rem;
}
.margin-bottom-lg {
    margin-bottom: 2.4rem;
}
.margin-bottom-xl {
    margin-bottom: 3.2rem;
}
.margin-left {
    margin-left: 1.6rem;
}
.margin-left-0 {
    margin-left: 0!important;
}
.margin-left-xs {
    margin-left: 0.5rem;
}
.margin-left-sm {
    margin-left: 1rem;
}
.margin-left-lg {
    margin-left: 2.4rem;
}
.margin-left-xl {
    margin-left: 3.2rem;
}
.margin-right {
    margin-right: 1.6rem;
}
.margin-right-0 {
    margin-right: 0!important;
}
.margin-right-xs {
    margin-right: 0.5rem;
}
.margin-right-sm {
    margin-right: 1rem;
}
.margin-right-lg {
    margin-right: 2.4rem;
}
.margin-right-xl {
    margin-right: 3.2rem;
}
